* {
    font-family: Arial, Helvetica, sans-serif
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 540px;
}

#container #input-text-label {
    margin-right: 10px;
}

#container-input {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

#container-input #input-text {
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 6;
    border-radius: 0px;
    border: 1px solid gray;
}

#container-input #input-priority {
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 0.5;
    border-radius: 0px;
    border: 1px solid gray;
}

#container-input #button-add {
    height: 34px;
    flex-grow: 0.5;
    border-radius: 0px;
    border: 1px solid gray;
}

#button-cancel {
    background-color: transparent;
    border: 0px;
    color: #1c579a;
    text-decoration: underline;
    cursor: pointer;
}

#brand-title {
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#sortby {
    margin-bottom: 20px;
}

#list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    height: 500px;
    overflow-y: scroll;
    border-bottom: 1px solid #dbdbdb;
}

#list li:hover {
    background-color: #f5f5f5;
}

#list .button-destroy {
    color: #696969;
    cursor: pointer;
}

#list .button-edit {
    margin-right: 10px;
    color: #696969;
    cursor: pointer;
}

#list .list-text {
    /* border-bottom: 1px solid #dbdbdb; */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
    display:flex;
    justify-content: space-between;
}

#list .list-text-left {
    flex-basis: 85%;    
}

#list .list-text-right {
    flex-basis: 15%;
    display: flex;
    justify-content: center;
}

#list .list-check {
    border-radius: 50%;
    height: 18px;
    width: 18px;
    margin:0px;
    padding: 0px;
    margin-right: 10px;
    border: 1px solid #afafaf;
    background-color: transparent;
    cursor: pointer;
}

#list .list-check:hover {
    background-color: #a5a5a5;
    
}

#list .list-priority-1 {
    border-left: 5px solid #960f0f;
}

#list .list-priority-2 {
    border-left: 5px solid #b3b024;
}

#list .list-priority-3 {
    border-left: 5px solid #120c85
}

#list .list-priority-4 {
    border-left: 5px solid #5c5c5c;
}

#select-filter {
    height: 22px;
}

@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
}